// Colors
$wht: #fff;
$titlegry: #525252;
$buttonblue: #3357FF;
$navgry: #95989A;
$navactiveblk: #444646;
$titleblk: #212121;
$buttonblk: #212121;
$footerblk: #212121;
$paragraphgry: #525252;
$paragraphblk: #212121;
$imgcreditgry: #95989A;
